html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

p, li, a {
  font-family: 'Merriweather', serif;
}

.menu-section.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

a.navbar-brand{
	color: #fff!important;
	font-size: 2em;
	line-height: 1em;
  font-family: 'Oswald', sans-serif !important;
}

.navbar-brand a {
  font-family: 'Oswald', sans-serif;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs {
    text-align:center;
}

button.navbar-toggle {
	position: absolute;
	bottom: 10px;
	right: 0;
	border: none;
	background-color: #F0677C;
}

.topnav {
	font-size: 1em;
  margin-bottom:  0px;
}

@media screen and (max-width: 767px) {
	.topnav p {
		font-size: 10px;
	}
}

.navbar {
	height: 150px;
}

img.top100 {
	float: right;
	width: 100px;
	margin-top: 20px;
}

@media screen and (max-width: 767px) {
	img.top100 {
		display: none;
	}
}


/* MEGA MENU STYLE
********************************/ 
.mega-menu {
	padding: 20px 20px ! important;
	width: 900px;
	border-radius: 0;
	margin-top: 0px;
	background-color: #333333;
	}

	.mega-menu li {
		display: inline-block;
		float: left;
		font-size: 0.94rem;
		padding: 3px 0px;
		color: #fff;
		}

	.mega-menu h3, h5 {
		text-align: center;
		color: #fff;
	}

		.mega-menu li.mega-menu-column {
			margin-right: 20px;
			width: 150px;
			}

			.mega-menu .nav-header {
			padding: 0 !important;
			margin-bottom: 10px;
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid #ddd;
			}

@media screen and (max-width: 768px) {
.mega-menu {
	display: none;
	padding: 20px 20px ! important;
	width: 100%;
	border-radius: 0;
	margin-top: 0px;
	background-color: #3D3D3D;
	max-height: 300px;
	overflow: auto;
	}

	.mega-menu li {
		display: inline-block;
		float: left;
		font-size: 0.94rem;
		padding: 3px 0px;
		color: #E05151 ;
		}

		.mega-menu li.mega-menu-column {
			margin-right: 20px;
			width: 150px;
			}

			.mega-menu .nav-header {
			padding: 0 !important;
			margin-bottom: 10px;
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid #ddd;
			}

}






/* Disable Toggle style
********************************/  

/* Dropdown Toggle on style */
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: inherit; /* Set to inherit when using mouse hover to open dropdown */
    color: inherit;
    }   
    /* Toggle off style */
    .navbar .nav li.dropdown.open.active > .dropdown-toggle,
    .navbar .nav > li.dropdown > a:focus { 
    background: inherit;
    color: inherit;
    }
    /* Toggle hover */
    .navbar .nav li.dropdown > .dropdown-toggle:hover,
    .navbar .nav li.dropdown.open > .dropdown-toggle:hover {
    background-color: #DDDDDD;
    }
            
            
    /* Toggle caret*/
    .navbar .nav li.dropdown > .dropdown-toggle .caret {
        border-bottom-color:;
        border-top-color:;
        }
        /* Toggle caret hover */
        .navbar .nav li.dropdown > a:hover .caret, 
        .navbar .nav li.dropdown > a:focus .caret {
        border-bottom-color: #333;
        border-top-color: #333;
        }
        /* Toggle caret active */
        .navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
        .navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
        .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
        border-bottom-color:#333;
        border-top-color: #333;
        }



/* Hover style
********************************/ 
.navbar .nav > li > a, .mega-menu a
 { 
  -webkit-transition: all 200ms ease;
	 -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	   -o-transition: all 200ms ease;
	      transition: all 200ms ease; 
	
		 /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
	     -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
	     -webkit-transform: translateZ(0);
}	
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 50vh;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    color: #fff;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 4em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
    z-index: 15;
}

.hero button {
	z-index: 15;
}

hgroup {
	z-index: 30;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 50vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  /*https://pixabay.com/en/saxophone-music-gold-gloss-546303/*/
  background-image: url("../img/sax.png"); 
}
.fade-carousel .slides .slide-2 {
  background-image: url("../img/guitar.jpg");
}
.fade-carousel .slides .slide-3 {
  background-image: url("../img/clarinet.jpg");
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
    

/* Educator Section */

section.educators {
	padding-top: 2em;
	padding-bottom: 2em;
}

img.edu {
	width: 120px;
	height: 150px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.small {
	font-size: 20px;
}

.edu-blurb {
  width: inherit;
  line-height: 15px;
  font-weight: bold;
}

.edu-des {
  font-weight: lighter;
}

.edu-blurb .glyphicon {
  color: #E05151;
}

.edu-headline {
  background-color: #E05151;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.edu-headline h1{
  margin-bottom: 0;
  margin-top: 0;
}

.edu-headline .small {
  color: #2e2e2e;
  text-indent: 2em;
}

h5.uni-title {
  display: inline;
  color: #2e2e2e;
  margin-bottom: 0;
  margin-top: 0;
}


.edu-item blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
}
.edu-item blockquote p {
  font-size: .7em;
  margin-bottom: 20px;
  line-height: 1.5;
}
.edu-item .edu-item-bubble {
  text-align: justify;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 0 20px 20px 20px;
  margin: 35px 10px 20px 10px;
  background: #FFF;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.edu-item .edu-item-bubble::before {
  background-color: #FFF;
  content: "\00a0";
  display: block;
  height: 20px;
  width: 20px;
  top: -10px;
  left: 45%;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.edu-item .author-photo {
  text-align: center;
}
.edu-item .author-photo img {
  margin: auto;
  border: 5px solid #FFF;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.edu-item .author-info {
  font-weight: 400;
  font-size: 0.8em;
}


@media screen and  (max-width: 767px) {
	p.edu-des {
		font-size: 12px;
		max-height: 200px;
		overflow: auto;
	}
	.caption h1 {
		font-size: 20px;
	}
	.caption .small {
		font-size: 14px;
	}
}


/*BRAND*/
img.brand {
	max-height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

/*Newsfeed*/
img.active-news {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

img.other-news {
  max-width: 100px;
  /*display: inline-block;*/
  clear: both;
  float: left;
  margin-bottom: 0px;
}

p.small-headline {
  font-size: 12px;
  line-height: 15px;
  padding-top: 10px;
}

.news-item a {
  padding-right: 30px;
  color: #2e2e2e;
}

.news-caption{
  line-height: 15px !important;
  font-size: 12px !important;
}
/*RENTALS*/
/*--------------------------------------------------------------------------
+	Pricing Table Style
--------------------------------------------------------------------------*/
.pricing-plan {
  float: left;
  text-align: center;
  background: #fafafa;
  position: relative;
  width: 48%;
  margin: 10px 1% 10px 0;
  padding: 20px;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  color: 0 1px 8px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-box-shadow .25s linear;
  -moz-transition: -moz-box-shadow .25s linear;
  -o-transition: box-shadow .25s linear;
  -ms-transition: box-shadow .25s linear;
  transition: box-shadow .25s linear;
}
.pricing-plan:hover {
  -webkit-box-shadow: 0 0 8px #333;
  -moz-box-shadow: 0 0 8px #333;
  box-shadow: 0 0 8px #333;
  color: 0 0 8px #333;
  z-index: 5;
}
.pricing-plan .pricing-plan-title {
  position: relative;
  margin: -20px -10px 20px;
  padding: 20px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  color: #595f6b;
  border-bottom: 1px dashed #d2d2d2;
}
.pricing-plan .pricing-plan-title:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background-size: 3px 1px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIiIHN0b3AtY29sb3I9IndoaXRlIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0id2hpdGUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMzQlIiBzdG9wLWNvbG9yPSIjZDJkMmQyIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IiIgc3RvcC1jb2xvcj0iI2QyZDJkMiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -moz-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
  background-image: -webkit-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
  background-image: -o-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
  background-image: linear-gradient(to right, white, white 33%, #d2d2d2 34%, #d2d2d2);
}
.pricing-plan .pricing-plan-price {
  margin: 0 auto 20px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 19px;
  font-weight: bold;
  color: white;
  background: #595f6b;
  -webkit-border-radius: 45px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 45px;
  -moz-background-clip: padding;
  border-radius: 45px;
  background-clip: padding-box;
}
.pricing-plan .pricing-plan-price span {
  font-size: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
}
.pricing-plan .pricing-plan-features {
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
  line-height: 2;
  font-size: 12px;
  color: #999;
  text-align: center;
  list-style-type: none;
}
.pricing-plan .pricing-plan-features li strong {
  font-weight: bold;
  color: #888;
}
.pricing-plan .pricing-plan-promote {
  margin: 0;
  padding: 40px 20px;
  background-color: white;
  border-width: 2px;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  z-index: 4;
}
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
.price-ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #FFF;
  color: #6a6340;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  color: 0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-green {
  background-color: #BFDC7A;
}
.ribbon-blue {
  background-color: #5ACBFF;
}
.ribbon-orange {
  background-color: #FF9542;
}
.ribbon-red {
  background-color: #FF7373;
}
@media (min-width: 768px) {
  .pricing-plan {
    width: 25%;
    margin: 20px 0;
    padding: 20px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
  }
  .pricing-plan:first-child {
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomleft: 7px;
    -moz-background-clip: padding;
    border-bottom-left-radius: 7px;
    background-clip: padding-box;
  }
  .pricing-plan:last-child {
    border-width: 2px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomright: 7px;
    -moz-background-clip: padding;
    border-bottom-right-radius: 7px;
    background-clip: padding-box;
  }
  .pricing-plan-promote {
    background: #fff;
    padding: 40px;
    margin-top: 0;
    -webkit-border-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px;
    -moz-background-clip: padding;
    border-radius: 7px;
    background-clip: padding-box;
    z-index: 4;
  }
}

/*TERMS AND CONDITIONS*/

.terms {
  padding-left: 15px;
  padding-right: 15px;
}

.breadcrumb {
  background-color: #fff !important;
  margin-left: 40px; 
}

ol.breadcrumb a {
  color: #2e2e2e;
}

ol.breadcrumb a:hover {
  color: #E05151;
}

ol.terms-list {
  line-height: 20px;
}